@import './main.scss';

.panel {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: $color-primary;
    border-radius: 10px;
    margin: 10px;
    max-width: 50%;
    width: auto;   

    .case-info {
        .case-title {
            font-size: 5em;
            margin-bottom: 5px;
        }

        .case-county-number {
            font-size: 1.5em;
            color: rgba(0, 0, 0, 0.6);
        }        
    }
}
.panel-row {
    display: flex;
    justify-content: start;
    align-items: start;   
}

.header-panel {
    background-color: $color-secondary;
    margin-top: 10px;
}
.panel-column {
    margin-right: 10px;

    &:first-child {
        margin-left: 10px;
    }

    .info-panel {
        h2 {
          strong {
            white-space: nowrap; /* Prevents wrapping of "Related Cases" */
          }
        }
    }    
    
}



    h2 {
        color: $color-primary;
        font-size: 1.5em; // this will make the font twice as big as the normal font-size
        font-weight: bold; // this will make the font bold
        margin-bottom: 10px;
    }

    .frame {
        background-color: $color-secondary;
        border: 2px solid $color-primary;
        border-radius: 10px;
        padding: 10px;
        min-width: 100%;

        a.card-link {
            text-decoration: none;
            color: inherit;
            

            .grid-item {
                background-color: $color-primary;
                border-radius: 10px;
                padding: 10px;
                margin: 10px 0;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); //optional
                

                .card-header {
                    background-color: white;
                    padding: 10px;
                    border-radius: 10px;
                    

                    .card-title {
                        margin: 0;
                        font-weight: bold;
                        margin-bottom: 5px;
                        
                    }

                    p {
                        white-space: nowrap;                        
                      }

                }

                .card-body {
                    padding: 10px 10px 0 10px;
                    white-space: nowrap;

                    p {
                        color: #000;
                    }
                }
            }
        }
    }

    .info-category {
        h3 {
            color: $color-primary;
            margin-bottom: 10px;
            font-size: 1em; // this will make the font twice as big as the normal font-size
            font-weight: bold; // this will make the font bold
        }

        .info-card {
            display: flex;
            justify-content: space-between;
            align-items: center;            
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
            width: 100%;

            .card-content {
                max-width: 70%;
                margin-right: 5px;
                white-space: nowrap;

                h4 {
                    font-weight: bold;
                }
            }               
        }
    }


.button-panel div {
    margin: 2px;
}
.no-pad {
    padding: 0 !important;
    margin: 0 !important;
}
.fill_background {
    background-color: $color-primary;
    color: $color-secondary;
}

.button-view {
    background-color: white;
    padding: 2px;
    border: 1px solid black;
    border-radius: 10%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-align: center;

    img {
        max-width: auto;
        max-height: 15px;        
    }

    &:active {
        transform: scale(0.95);
    }
}


.add-button-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-button {
    height: auto;
    max-height: 30px;
    width: auto;
}

.employee {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .employee-profile, .employee-data {
        white-space: nowrap;
        margin-right: 10px;
    }
}