@import './variables';

.tasklist-header {
    display: flex;
    align-items: center;
    white-space: nowrap;

    h2 {
        margin-right: 20px;
    }

    .filters {
        display: flex;
        align-items: center;
        gap: 10px;        

        label {
            font-size: 0.75em;
            white-space: nowrap;
        }

        input[type="checkbox"] {
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: white;
            font-size: 14px;
            margin-right: 10px;
        }

        select {
            padding: 1px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: white;
            font-size: 0.75em; /* Adjust the font size */
        }
    }
}

.task-list {
    margin: 20px;
    table {
        border-collapse: collapse;
        width: 100%;
        white-space: nowrap;
        th, td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: $sky-blue;
        }
        tr:nth-child(even) {
            background-color: $dark-slate-gray;
        }        
        input[type="checkbox"] {
            margin: 0;
            padding: 0;
        }
    }
}
