################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PB_Theme/config
/.vs/PB_Theme/FileContentIndex
/.vs
