:root {
    --color-primary: #007bff;
    --color-secondary: #6c757d;
    --color-success: #28a745;
    --color-warning: #ffc107;
    --color-danger: #dc3545;

    /* CSS HEX */
    --jet: #363636ff;
    --dark-slate-gray: #235e66ff;
    --verdigris: #82aeb1ff;
    --sky-blue: #93c6d6ff;
    --periwinkle: #a7acd9ff;

    /* CSS HSL */
    --jet: hsla(0, 0%, 21%, 1);
    --dark-slate-gray: hsla(187, 49%, 27%, 1);
    --verdigris: hsla(184, 23%, 60%, 1);
    --sky-blue: hsla(194, 45%, 71%, 1);
    --periwinkle: hsla(234, 40%, 75%, 1);

    /* SCSS HEX */
    $jet: #363636ff;
    $dark-slate-gray: #235e66ff;
    $verdigris: #82aeb1ff;
    $sky-blue: #93c6d6ff;
    $periwinkle: #a7acd9ff;

    /* SCSS HSL */
    $jet: hsla(0, 0%, 21%, 1);
    $dark-slate-gray: hsla(187, 49%, 27%, 1);
    $verdigris: hsla(184, 23%, 60%, 1);
    $sky-blue: hsla(194, 45%, 71%, 1);
    $periwinkle: hsla(234, 40%, 75%, 1);

    /* SCSS RGB */
    $jet: rgba(54, 54, 54, 1);
    $dark-slate-gray: rgba(35, 94, 102, 1);
    $verdigris: rgba(130, 174, 177, 1);
    $sky-blue: rgba(147, 198, 214, 1);
    $periwinkle: rgba(167, 172, 217, 1);

    /* SCSS Gradient */
    $gradient-top: linear-gradient(0deg, #363636ff, #235e66ff, #82aeb1ff, #93c6d6ff, #a7acd9ff);
    $gradient-right: linear-gradient(90deg, #363636ff, #235e66ff, #82aeb1ff, #93c6d6ff, #a7acd9ff);
    $gradient-bottom: linear-gradient(180deg, #363636ff, #235e66ff, #82aeb1ff, #93c6d6ff, #a7acd9ff);
    $gradient-left: linear-gradient(270deg, #363636ff, #235e66ff, #82aeb1ff, #93c6d6ff, #a7acd9ff);
    $gradient-top-right: linear-gradient(45deg, #363636ff, #235e66ff, #82aeb1ff, #93c6d6ff, #a7acd9ff);
    $gradient-bottom-right: linear-gradient(135deg, #363636ff, #235e66ff, #82aeb1ff, #93c6d6ff, #a7acd9ff);
    $gradient-top-left: linear-gradient(225deg, #363636ff, #235e66ff, #82aeb1ff, #93c6d6ff, #a7acd9ff);
    $gradient-bottom-left: linear-gradient(315deg, #363636ff, #235e66ff, #82aeb1ff, #93c6d6ff, #a7acd9ff);
    $gradient-radial: radial-gradient(#363636ff, #235e66ff, #82aeb1ff, #93c6d6ff, #a7acd9ff);

}

html {
    font-family: figtree;
}

header {
    background-color: #363636;
}